/* This is the Main CSS Styling File for index.html. 
The Purpose of this document is to style the various 
html elements for the responsive_design repository, 
which are elements to build a website for GEOG 328 */

h1,
h2 {
    color: #333;
}

p {
    color: #444;
}

ol {
    list-style-type: decimal;
}

img {
    max-width: 100%;
    height: auto;
}

/* Custom Style for table */
.custom-style-2 th {
    text-align: right;
}

/* Ribbon Navigation Bar Styles */
/* Ribbon Navigation Bar */
.ribbon {
    background-color: #63a211; 
    overflow: hidden;
}

/* Ribbon Links */
.ribbon a {
    float: left;
    display: block;
    color: rgb(0, 0, 0); 
    text-align: center;
    padding: 14px 16px; 
    text-decoration: none;
}

/* Active Link */
.ribbon a.active {
    background-color: #97df07; 
}

/* Hover Effect */
.ribbon a:hover {
    background-color: #555; 
}

.custom-style-3.larger-video {
    display: flex;
    flex-direction: column;
    align-items: left;
}

.custom-style-3.larger-video iframe {
    max-width: 80%;
}

.larger-video {
    height: 120vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

body,
html {
    height: 100%;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

* {
    box-sizing: border-box;
}